body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  font-size: 20px;
}

.wrapper {
  width: 400px;
  margin: auto;
}

.wrapper input {
  width: 100%;
  height: 2em;
}

#form-box, #qrcode-box {
  display: none;
}

#qrcode img {
  width: 100%;
}